* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  /*
  background-image: url(../src/img/court.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */

  background: rgb(96,105,180);
  background: linear-gradient(180deg, rgba(96,105,180,1) 0%, rgba(238,116,116,1) 100%);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  line-height: 1.7;
  color: rgb(236, 236, 236);
  text-shadow: 2px 2px 4px #000000;
  box-sizing: border-box;
}

/* ///////////Team Content Section/////////// */

.team-cards-container {
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-content {

background: rgba(8, 8, 8, 0.45);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(40, 39, 39, 0.6);
border: 1px solid rgba(11, 11, 11, 0.09);
  margin-top: 1rem;
  text-align: center;
  animation-name: moveInTop;
  animation-duration: 1.25s;
  animation-timing-function: ease-out;
}
.score-button-container{
  padding-bottom: 0.5rem;
}

.team-content-input {
  font-size: 1.75rem ;
  cursor: pointer;
  text-align: center;
  padding: .5rem;
  border-radius:5px;
  margin: 0rem .75rem 0rem .75rem;
  width: 80%;
}

.team-content-input:focus {
  outline: 2px solid rgb(129, 204, 244);
}

.team-name {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 3.5rem;
}

.score {
  font-size: 10rem;
  font-weight: 800;
}
  
/* Score Input content ////////////////////////////// */
.score-limit-container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  position: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0rem 1rem 0rem;
}

.score-limit-container input {
  width: 70%;
  outline: none;
  cursor: pointer;
  border-radius: .5rem;
  padding: .5rem;
  margin: 1rem 0rem 1rem 0rem;
  text-align: center;
}

/* //////////////// Timer Section //////////////////////////// */

.timer-container {
  border-radius: 5px;
  text-align: center;
  animation-name: moveInBottom;
  animation-duration: 1.25s;
  animation-timing-function: ease-out;
}

.time {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.25rem;
}

.time-controls {
  display: flex;
  justify-content: center;
  text-align: center;
}

.time-controls button {
  text-align: center;
  width: 7.75rem;
}

/* /////// All Button Section with Effects /////////// */
.butn {
  border-radius: .8rem;
  font-size: 1.5rem;
  margin: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 3px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s all;
}

.butn:active {
  transform: scale(0.98);
  box-shadow: 1.5px 2px 16px .25px rgba(0, 0, 0, 0.24);
}

.butn:hover {
  background-color: rgb(34, 33, 33);
  color: #fff;
  cursor: pointer;
}

.button-increment{
  width: 7.5rem;
  font-size: 2rem;
}

.button-increment:hover {
  background-color: rgb(64, 176, 64);
}

.button-decrement {
  width: 7.5rem;
  font-size: 2rem;
}

.button-decrement:hover{
  background-color: rgb(206, 83, 83);
}


/* ////////////////////////////Modal Styling Below/////////////////////////// */

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  width: 100%;
}

.modal-container{
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  max-width: 40rem;
  /* width: 100%; */
  padding: 1rem;
  background-color: white;
  font-size: 2.25rem;
  color: #000000;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: none;
  text-align: center;
  z-index: 1;
}

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modal {
  font-size: 1.75rem;
  cursor: pointer;
  padding: 1rem;
  color: white;
  border-radius: .5rem;
  margin: 0 1rem 0 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition: 0.2s all;
}
.btn-modal:active {
  transform: scale(0.98);
  box-shadow: 1.5px 2px 16px .25px rgba(0, 0, 0, 0.24);
}

.reset {
  background-color: rgb(6, 119, 248);
  border: none;
}

.reset:hover {
  background-color:rgb(5, 85, 176);
}

.close {
  background-color: rgb(184, 29, 29);
  border: none;
}

.close:hover {
  background-color: rgb(121, 19, 19);
}

/*//////////// Winner Styling Below /////////////// */

.victory {
  color: #fcae1e;
  animation-name: breathEffect;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  z-index: 0;
}

/* /////////// ANIMATIONS /////////////// */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes breathEffect {
  0% {
    transform: scale(1.0);
  }
  10% {
    transform: scale(0.7);
  }
  20% {
    transform: scale(1.0);
  }
  30% {
    transform: scale(0.7);
  }
  40% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(1.0);
  }
  70% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(1.0);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.0);
  }
}

/* /////////////////// MEDIA QUERIES ////////////// */

@media (max-width:1024px) {
  .team-cards-container {
    padding-top: 0rem;
  }

  .score {
    font-size: 5rem;
  }
  .button-decrement{
    width: 7rem;
  }
  .button-increment {
    width: 7rem;
  }
  .team-content-input {
    font-size: 1.25rem;
    width: 70%;
  }
  .team-name {
    font-size: 1.75rem;
  }
  .score-limit-container{
    margin-top: -1rem;
    font-size: 1.1rem;
  }
  .score-limit-container input {
    margin-top: -0.25rem;
    margin-bottom: .25rem;
  }
  .time {
    margin-top: -1rem;
    font-size: 1.25rem;
  }
  .time-controls {
    margin-top: -1rem;
  }
}

@media (max-width: 420px) {
  .team-cards-container {
    padding-top: 8rem;
  }
  .score {
    font-size: 8rem;
  }
  .button-decrement{
    width: 6rem;
  }
  .button-increment {
    width: 6rem;
  }
  .team-content-input {
    font-size: 1.1rem;
    width: 70%;
  }
  .team-name {
    font-size: 2rem;
  }
  .score-limit-container{
    margin-top: 4rem;
    font-size: 1.5rem;
  }
  .score-limit-container input {
    margin-bottom: 0rem;
  }
  .time {
    margin-top: 1rem;
    font-size: 1.75rem;
  }
  .time-controls {
    margin-top: .5rem;
  }
}